
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <strong class="text-dark">Formulario enviado com sucesso!</strong> Em breve nossa equipe o analisará.
  <button type="button" class="btn-close" onclick="closeAlert(this)" ></button>
</div>