<!-- Footer -->
<div class="container ">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/index" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="/cursos" class="nav-link px-2 text-body-secondary">Cursos</a></li>
      <li class="nav-item"><a href="/depoimentos" class="nav-link px-2 text-body-secondary">Depoimentos</a></li>
      <li class="nav-item"><a href="/livros" class="nav-link px-2 text-body-secondary">Livros</a></li>
      <li class="nav-item"><a href="/areaempresas" class="nav-link px-2 text-body-secondary">Para Empresas</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Desenvolvido por Davi-GCL  |  <a href="https://www.linkedin.com/in/davi-gabriel-gcl/" target="_blank">Contate-me →</a></p>
    
  </footer>
</div>
<!-- /Footer -->