<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong class="text-dark">Responda o CAPTCHA corretamente!</strong>
  <button type="button" class="btn-close" onclick="closeAlert(this)"></button>
</div>