@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');
@font-face {
    font-family: 'OpenSans';
    src: url('./fontes/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

:root{
    --oranje: #F7652D;
    --bg-dark: #0F2437;
    --bg-light: #0F2E4B;
    --sub-title: #A6A6A6;
    --border: #AEADAC;
}

*{
    font-family: 'OpenSans','Arial';
    color: #FFF;
}

body{
    margin: 0;
    background-color: #1E1E1E;
}

/* .text-warning{
    color: #F7652D;
} */

#section-questoes{
    min-height: 775px;
    background-color: var(--bg-dark);
    color: #fff;
}

#title-questoes{
    color: var(--sub-title);
    font-weight:bold;
    margin-bottom: 75px;
}

/* .asks{
    max-width: 630px;
} */

#section-destaques{
    min-height: 775px;
    background-color: var(--bg-light);
    color: #fff;
}

.container-highlight{
    padding: 91px 15px;
    
}

.subtitle{
    color: var(--sub-title);
    font-weight:bold;
}

.card-highlight{
    height: 290px;
    padding: 0.5rem;
    background: none;
    color: #fff;
    border-color: var(--border);
}

.card-footer{
    border-top: none;
}

.access-button{
    font-weight: bold;
    color: var(--oranje) !important;
    /* text-decoration: underline; */
}

.text-body-secondary{
    color: var(--sub-title) !important;
}