@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');
@font-face {
    font-family: 'OpenSans';
    src: url('./fontes/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

:root{
    --oranje: #F7652D;
    --bg-dark: #0F2437;
    --bg-light: #0F2E4B;
    --sub-title: #A6A6A6;
    --border: #AEADAC;
}

*{
    font-family: 'OpenSans';
}

body{
    margin: 0;
}

/* .text-warning{
    color: #F7652D;
} */

#section-questoes{
    height: 775px;
    background-color: var(--bg-dark);
    color: #fff;
}

#title-questoes{
    color: var(--sub-title);
    margin-bottom: 75px;
}

/* .asks{
    max-width: 630px;
} */

#section-destaques{
    height: 775px;
    background-color: var(--bg-light);
    color: #fff;
}

.card-highlight{
    height: 290px;
    background: none;
    color: #fff;
    border-color: var(--border);
}

.access-button{
    font-weight: bold;
    color: var(--oranje) !important;
    text-decoration: underline;
}